body, header,h1, nav, ul, li,p{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
}
th {
  font-weight: 600;
  font-size: 13px;
  text-align: left;
}
td {
  font-size: 13px;
}
